#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
    tapping-term-ms = <300>;
};

// 【削除】誤爆防止用の &zip_temp_layer は不要になるため削除します
// 【削除】マウスクリック時の &mkp_input_listener も不要になるため削除します

&trackball {
    scroll-layers = <5>; // スクロールレイヤー設定はそのまま残します
};

// ▼▼▼ ルートノード開始 ▼▼▼

/ {
    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;

        // 【変更】レイヤー4への移行指示を消し、スクロール反転（Y_INVERT）だけを残します

        input-processors = <&zip_scroll_transform (INPUT_TRANSFORM_Y_INVERT)>;
    };

    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <12 13>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 11>;
        };

        atmark {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <11 1>;
        };

        excmark {
            bindings = <&kp EXCLAMATION>;
            key-positions = <12 24>;
        };

        hyphen {
            bindings = <&kp MINUS>;
            key-positions = <17 29>;
        };

        question {
            bindings = <&kp QUESTION>;
            key-positions = <13 25>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <40 41>;
        };

        kara {
            bindings = <&kp LS(EQUAL)>;
            key-positions = <17 5>;
        };

        slash {
            bindings = <&kp SLASH>;
            key-positions = <19 31>;
        };

        asterisk {
            bindings = <&kp KP_ASTERISK>;
            key-positions = <18 30>;
        };

        plus {
            bindings = <&kp KP_PLUS>;
            key-positions = <16 28>;
        };

        eq {
            bindings = <&kp RS(UNDER)>;
            key-positions = <32 20>;
        };

        percent {
            bindings = <&kp LS(N5)>;
            key-positions = <11 23>;
        };

        mclick {
            bindings = <&mkp MB3>;
            key-positions = <21 33>;
        };

        prev {
            bindings = <&mkp MB4>;
            key-positions = <21 20>;
        };

        colon {
            bindings = <&kp APOSTROPHE>;
            key-positions = <7 19>;
        };

        semicolon {
            bindings = <&kp SEMI>;
            key-positions = <6 18>;
        };

        lkagi {
            bindings = <&kp BACKSLASH>;
            key-positions = <4 14>;
        };

        rkagi {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <3 13>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;

            encoder_msc_down_up: encoder_msc_down_up {
                compatible = "zmk,behavior-sensor-rotate";
                label = "ENCODER_MSC_DOWN_UP";
                #sensor-binding-cells = <0>;
                bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

                tap-ms = <20>;
            };
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E           &kp R                          &mt LC(T) T                                                     &kp Y        &kp U  &kp I      &kp O    &mt PRINTSCREEN P
&mt LC(A) A       &kp S         &kp D           &mt LC(F) F                    &kp G        &kp LC(N0)                       &kp LEFT_BRACKET  &kp H        &kp J  &kp K      &lt 5 L  &mkp MB1
&kp Z             &mt LC(X) X   &mt LC(C) C     &mt LC(V) V                    &kp B        &mt LS(LG(T)) LA(ESCAPE)         &kp LEFT_GUI      &mt LC(N) N  &kp M  &kp COMMA  &kp DOT  &mkp MB2
&kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_SHIFT  &lt_to_layer_0 1 INT_MUHENKAN  &lt 3 SPACE  &lt_to_layer_0 6 INT_HENKAN      &kp BACKSPACE     &lt 1 ENTER                             &mt RCTRL DEL
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        NUM {
            bindings = <
&kp LS(N1)        &kp LS(N2)      &kp LS(N3)    &kp LS(N4)      &kp LS(N5)                                                 &kp LS(N6)                   &kp LS(N7)    &kp LS(N8)    &kp LS(N9)    &kp INTERNATIONAL_3
&kp NUMBER_1      &kp NUMBER_2    &kp NUMBER_3  &kp NUMBER_4    &kp NUMBER_5    &kp C_MUTE        &kp LS(INTERNATIONAL_1)  &kp NUMBER_6                 &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&kp F1            &kp F2          &kp F3        &kp F4          &kp F5          &kp F6            &kp F7                   &kp F8                       &kp F9        &kp F10       &kp F11       &kp F12
&kp LEFT_CONTROL  &kp LEFT_SHIFT  &kp LEFT_ALT  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW      &kp RIGHT_ARROW          &mt BACKSLASH RIGHT_BRACKET                                            &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOLUME_UP>;
        };

        SYMBOLS {
            bindings = <
&trans            &trans          &trans                        &trans               &kp INTERNATIONAL_3                                 &kp LS(MINUS)            &kp LS(SEMICOLON)  &kp MINUS   &kp RS(COLON)  &kp SLASH
&kp LS(N1)        &kp LS(N2)      &kp LS(N3)                    &kp LS(N4)           &kp LS(N5)           &trans          &kp RIGHT_ALT  &kp LS(N6)               &kp LS(N7)         &kp LS(N8)  &kp LS(N9)     &kp N0
&kp LEFT_SHIFT    &trans          &trans                        &kp RIGHT_BRACKET    &trans               &kp ESCAPE      &kp LEFT_GUI   &kp LS(INTERNATIONAL_1)  &kp BACKSLASH      &kp COMMA   &kp PERIOD     &kp LS(INTERNATIONAL_1)
&kp LEFT_CONTROL  &kp LEFT_SHIFT  &mt LEFT_ALT INTERNATIONAL_5  &kp INTERNATIONAL_4  &kp SPACE            &kp TAB         &kp BACKSPACE  &kp RET                                                                &kp DEL
            >;
        };

        ARROW {
            bindings = <
&trans     &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                                  &trans       &trans                  &kp LS(UP_ARROW)    &trans                   &trans
&kp HOME   &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &trans          &kp RIGHT_ALT  &kp PAGE_UP  &kp LS(LEFT_ARROW)      &kp LS(DOWN_ARROW)  &kp LS(RIGHT_ARROW)      &kp PAGE_DOWN
&trans     &kp LG(LA(LEFT_ARROW))  &trans          &kp LG(LA(RIGHT_ARROW))  &trans   &kp ESCAPE      &kp LEFT_GUI   &trans       &kp LC(LG(LEFT_ARROW))  &trans              &kp LG(LC(RIGHT_ARROW))  &trans
&kp LCTRL  &kp LEFT_SHIFT          &kp LEFT_ALT    &trans                   &trans   &kp TAB         &kp BACKSPACE  &kp ENTER                                                                         &kp DEL
            >;
        };

        MOUSE {
            bindings = <
&trans     &kp LC(W)               &trans        &trans                   &kp LS(LC(T))                          &trans    &trans    &trans    &trans    &trans
&trans     &mkp MB2                &mkp MB3      &mkp MB1                 &trans         &kp LC(N0)      &trans  &mkp MB4  &mkp MB1  &mkp MB3  &mkp MB2  &mkp MB5
&trans     &kp LS(LG(LEFT_ARROW))  &trans        &kp LS(LG(RIGHT_ARROW))  &trans         &kp ESCAPE      &trans  &trans    &trans    &trans    &trans    &trans
&kp LCTRL  &kp LEFT_SHIFT          &kp LEFT_ALT  &trans                   &trans         &trans          &trans  &trans                                  &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(KP_MINUS) LC(KP_PLUS)>;
        };

        SCROLL {
            bindings = <
&trans  &kp LC(W)  &trans  &trans  &kp LS(LC(T))                          &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans  &trans  &trans         &kp LC(N0)      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans  &trans  &trans         &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans  &trans  &trans         &trans          &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(KP_MINUS) LC(KP_PLUS)>;
        };

        layer_6 {
            bindings = <
&trans  &trans      &trans  &trans        &trans                                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans      &trans  &trans        &trans        &trans            &trans  &trans        &trans        &trans        &trans        &trans
&trans  &trans      &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &trans  &trans        &bootloader   &trans        &trans        &trans
&trans  &bt BT_CLR  &trans  &trans        &trans        &trans            &trans  &trans                                                  &trans
            >;
        };
    };
};

// ▲▲▲ ルートノード終了 ▲▲▲
