#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

// 【追加①】キー入力後200msはトラボが動いてもAML発動を無視（誤爆防止）

&zip_temp_layer { require-prior-idle-ms = <200>; };

&trackball {
    // 古い方式のプロパティは無効化（競合を防ぐため削除かコメントアウト）
    // automouse-layer = <4>;  

    scroll-layers = <5>;
};

// マウスキー（&mkp）をクリックした時、レイヤー4のタイムアウトを800msで上書き

&mkp_input_listener { input-processors = <&zip_temp_layer 4 800>; };

// ▼▼▼ ルートノード開始 ▼▼▼

/ {
    // トラックボールを動かした時、レイヤー4へ30秒（30000ms）で移行

    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        input-processors =
            <&zip_temp_layer 4 30000>,
            <&zip_scroll_transform (INPUT_TRANSFORM_Y_INVERT)>;
    };

    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };

        atmark {
            bindings = <&kp AT>;
            key-positions = <11 1>;
        };

        excmark {
            bindings = <&kp EXCLAMATION>;
            key-positions = <11 23>;
        };

        hyphen {
            bindings = <&kp MINUS>;
            key-positions = <8 20>;
        };

        question {
            bindings = <&kp QUESTION>;
            key-positions = <20 32>;
        };

        prtscr {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <21 9>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <40 41>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                    &kp W           &kp E             &kp R                        &kp T                                                   &kp Y        &kp U              &lt 5 I      &kp O            &mt LC(P) P
&mt LC(A) A              &mt LEFT_ALT S  &mt LCTRL D       &mt LSHIFT F                 &kp G        &kp C_MUTE                &kp RIGHT_ALT    &kp H        &mt RIGHT_SHIFT J  &mt RCTRL K  &mt RIGHT_ALT L  &kp SLASH
&mt LC(Z) Z              &mt LC(X) X     &mt LC(C) C       &mt LC(V) V                  &kp B        &mt LS(LG(T)) F10         &kp RIGHT_SHIFT  &kp N        &kp M              &kp COMMA    &kp DOT          &kp UNDERSCORE
&mt LEFT_CONTROL ESCAPE  &kp LEFT_WIN    &kp INT_MUHENKAN  &lt_to_layer_0 6 INT_HENKAN  &lt 2 SPACE  &lt_to_layer_0 3 TAB      &kp BACKSPACE    &lt 1 ENTER                                                   &lt 5 ESCAPE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        NUM {
            bindings = <
&kp LEFT_ARROW    &kp DOWN_ARROW  &kp UP_ARROW      &kp RIGHT_ARROW      &kp NON_US_BACKSLASH                              &kp EQUAL     &kp PLUS      &kp MINUS     &kp ASTERISK  &kp SLASH
&kp NUMBER_1      &kp NUMBER_2    &kp NUMBER_3      &kp NUMBER_4         &kp NUMBER_5          &trans       &kp F13        &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&kp F1            &kp F2          &kp F3            &kp F4               &kp F5                &kp F6       &kp F7         &kp F8        &kp F9        &kp F10       &kp F11       &kp F12
&kp LEFT_CONTROL  &kp LEFT_WIN    &kp INT_MUHENKAN  &kp INTERNATIONAL_4  &kp SPACE             &kp TAB      &kp BACKSPACE  &kp ENTER                                               &trans
            >;
        };

        SYMBOLS {
            bindings = <
&kp MINUS                   &kp KP_NUMBER_7  &kp KP_NUMBER_8   &kp KP_NUMBER_9      &kp LEFT_BRACKET                                                   &kp RIGHT_BRACKET      &kp AMPERSAND  &kp TILDE   &kp EXCLAMATION  &kp PLUS
&kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5   &kp KP_NUMBER_6      &kp LEFT_PARENTHESIS  &kp LC(LA(KP_NUMBER_0))      &kp UNDERSCORE  &kp RIGHT_PARENTHESIS  &kp AT_SIGN    &kp HASH    &kp DOLLAR       &kp ASTERISK
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2   &kp KP_NUMBER_3      &kp LEFT_BRACE        &kp EQUAL                    &kp CARET       &kp RIGHT_BRACE        &kp COMMA      &kp PERIOD  &kp PERCENT      &kp BACKSLASH
&kp LEFT_CONTROL            &trans           &kp INT_MUHENKAN  &kp INTERNATIONAL_4  &kp SPACE             &kp TAB                      &kp BACKSPACE   &kp RET                                                            &kp PIPE
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                                     &trans       &trans              &kp LS(UP_ARROW)    &trans               &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &kp LC(NUMBER_0)      &trans      &kp PAGE_UP  &kp LS(LEFT_ARROW)  &kp LS(DOWN_ARROW)  &kp LS(RIGHT_ARROW)  &kp PAGE_DOWN
&kp LEFT_SHIFT  &kp LG(LA(LEFT_ARROW))  &kp LEFT_ALT    &kp LG(LA(RIGHT_ARROW))  &trans   &trans                &trans      &trans       &trans              &trans              &trans               &trans
&kp LCTRL       &trans                  &trans          &trans                   &trans   &trans                &kp DELETE  &kp TAB                                                                   &trans
            >;
        };

        MOUSE {
            bindings = <
&kp ESCAPE      &kp LC(W)               &trans    &trans                   &kp LS(LC(T))                          &trans    &trans    &trans    &trans    &trans
&mkp MB5        &mkp MB2                &mkp MB3  &mkp MB1                 &mkp MB4       &kp LC(N0)      &trans  &mkp MB4  &mkp MB1  &mkp MB3  &mkp MB2  &mkp MB5
&kp LEFT_SHIFT  &kp LS(LG(LEFT_ARROW))  &trans    &kp LS(LG(RIGHT_ARROW))  &trans         &trans          &trans  &trans    &trans    &trans    &trans    &trans
&kp LCTRL       &trans                  &trans    &trans                   &trans         &trans          &trans  &trans                                  &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(KP_MINUS) LC(KP_PLUS)>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &kp LC(N0)      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(KP_MINUS) LC(KP_PLUS)>;
        };

        layer_6 {
            bindings = <
&trans  &trans      &trans  &trans        &trans                                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans      &trans  &trans        &trans        &trans            &trans  &trans        &trans        &trans        &trans        &trans
&trans  &trans      &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &trans  &trans        &bootloader   &trans        &trans        &trans
&trans  &bt BT_CLR  &trans  &trans        &trans        &trans            &trans  &trans                                                  &trans
            >;
        };
    };
};

// ▲▲▲ ルートノード終了 ▲▲▲
